 @media only screen and (max-width: 978px) {
.intro {
  width: 80%;
}
    .list {
    }
    .navbar-collapse {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #737373;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 100%;
        min-height: 100VH;
        z-index: 4;
        opacity: 0.92;
        margin-top: 3rem;
    }
    .navbar-collapse.collapsing {
        height: auto;
        -webkit-transition: left 0.3s ease;
        -o-transition: left 0.3s ease;
        -moz-transition: left 0.3s ease;
        transition: left 0.3s ease;
        left: -100%;
    }
    .navbar-collapse.show {
        left: 0;
        -webkit-transition: left 0.3s ease-in;
        -o-transition: left 0.3s ease-in;
        -moz-transition: left 0.3s ease-in;
        transition: left 0.3s ease-in;
    }
}

 @media only screen and (max-width: 570px) {
.entry {
   font-size: 20px;
}
}

 @media only screen and (max-width: 300px) {
.entry {
   font-size: 18px;
}


}


@media (max-width: 768px) {


}