.intro {
  border: .1px solid black;
  padding: 2rem;
  width:60%;
  border-radius: 1rem;
  background-color: #000;
  opacity: 0.6;
}

.entry {
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
}

.menu {
  z-index: 4;
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 32;
  background-color: #f2f2f2;
  margin-bottom: 25px;
}

.diplay {
        display: none;
        transition: left 0.3s ease-in;
}

#arrows {
	display: none;
	color: #3385ff;
}

#bars,
#arrows {
color: #3385ff;
font-size: 15px;
}
